.header {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 600;
}

.extension {
    margin-bottom: 18px;
    font-size: 13px;
}

.extension .name {
    margin-bottom: 6px;
}

.extension .details {
    padding: 6px;
    background: #efefef;
    font-size: 12px;
}